.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #343a40;
}

.email {
    font-size: calc(10px + 1vmin);
    color: #17A2B8;
    font-weight: bold;
    margin: 10px;
}