
.view {
  background-image: url('./images/hrd-med.jpg');
  background-size: 100% 100%;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: flex;
  align-items: center;
  opacity: 0.75;
} 

.pic {
  max-height: 30vh;
  max-width: 30vw;
  border-radius: 50%;
  padding: 10px;
}

h3 {
  color: darkblue;
}

/* .col {  
  border: 1px yellow solid;
} */

.mytxt {
  color: white;
  font-size: calc(10px + 1vmin);

}

p {
  font-size: calc(10px + 1vmin);
}


.row {
  min-height: 20vh;
}
